html{
    scroll-behavior: smooth;
  }
  
.background-image{
     background-image: url(images/ticket_bg.png);
      min-height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      position:relative;
      padding:25px
  }
  
  body {
    font-family: 'Codystar';
    background: beige;   
  }
  
  
  h1{
      font-size: medium;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
   .neons {
      margin-top: 10rem;
      text-align: center;
   }
   
   .neons h1 {
     font-size: 7rem;
     text-align: center;
      font-weight: bold;
     animation: glow 2s ease-in-out infinite alternate;
   }
   
  @keyframes glow {
        from {
         color: #fff;
       text-shadow: 0px 0px 10px #00fff2, 0px 0px 20px #00fff2, 0px 0px 30px #00fff2, 0px 0px 40px #00fff2, 0px 0px 50px #00fff2, 0px 0px 60px #00fff2, 0px 0px 70px #00fff2, 0px 0px 90px #00fff2;
     }
     
     to {
        color: gray;
       text-shadow: 0px 0px 20px #00fff2, 0px 0px 30px #00fff2, 0px 0px 40px #00fff2, 0px 0px 50px #00fff2, 0px 0px 60px #00fff2, 0px 0px 70px #00fff2, 0px 0px 80px #00fff2, 0px 1px 90px #00fff2;
     }
   
   }
   
  *{
      margin:0px;
      padding: 0px;
      box-sizing: border-box;
  }
  
  .container{
      
      margin:20px;
      width:auto;
  }
  
  .topnav{
      overflow:hidden;
      background-color: black;
  }
  
  .topnav a{
      float: left;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      border-right: 1px solid grey;;
  
  }
  
  .topnav a:hover{
      background-color: #09242d;
      color:beige
  }
  
  
  .active{
      background-color: lavender;
  }
  
  #div1{
      justify-content: center;
      display: flex;
  }
  
  #body1{
      background-color: beige;
  }

  #div2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    
  }
 
  form {
    width: 300px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
    input[type="text"]{
    width: 500px;
  }
  input[type=tel]{
    width: 500px;
  }
  input,
  select {
    width: 500px;
    padding: 8px;
    margin-top: 5px;
  }
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  table{
    border-collapse: collapse;
    padding: 5px;
}
fieldset {
    width: 50%;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 25%;
  }
  
  legend {
    font-size: 20px;
    font-weight: bold;
  }
/* Styles for the summary table container */
.table-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px;
}

/* Styles for the table */
#userDataTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* Styles for table header */
#userDataTable thead {
  background-color: #f2f2f2;
}

/* Styles for table header cells */
#userDataTable th {
  padding: 10px;
  text-align: left;
}

/* Styles for table data cells */
#userDataTable td {
  padding: 10px;
  border-top: 1px solid #ccc;
}