.background-img{
    background-color: beige;
    padding:25px;
    
}

.donation-container {
	height: 1000px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
}

.donation-box {
	width: 390px;
	height: 386px;
	background-color: #FCD9DA;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	
}

.donation-box .title {
	background-color: #FCD9DA;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: black;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
}

.donation-box .donate-button {
	background-color: #FCD9DA;
	width: 100%;
	color: black;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 60px;
	left: 15px;
}

.donation-box .fields input {
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}


:-ms-input-placeholder {  
   color: #FCD9DA;
   font-size: 15px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
	right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: #FCD9DA;
	margin-bottom: 10px;
	text-align: center;
	color: black;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
}

.donation-box .amount .button:hover {
	background-color: #F6EED8;
}

.donation-box .amount .button.selected {
	background-color:plum;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed black;
	-webkit-font-smoothing: antialiased;
	
	
}

.set-amount {
	max-width: 96px;
}

.switch {
  position: absolute;
  top: 190px;
  left: 15px;
  margin: 20px auto;
  height: 26px;
  width: 58.5%;
  background: #FCD9DA;
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 11px;
  color:#FCD9DA;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #FCD9DA;
  
  
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: #F6EEDB;
  border-radius: 3px;
  background-color: #FCD9DA;
  
  
}

.checkboxes {
	position: absolute;
	top: 242px;
	left: 13px;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color:black;
}

.checkbox {
	-webkit-appearance: none;
	background-color:#FCD9DA;
	border: 1px solid black;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	
	
}



.checkbox:checked {
	background-color:plum;
	border: 1px solid black;
	color: rgb(104, 89, 89);
}

.checkbox:checked:after {
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: purple;
}

.confirm {
	display: none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}